.Navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding:20px 40px 15px;
    align-items: center;
}
.Menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1.3rem;
}

.Menu>a{
    text-decoration: none;
    color: white;
}
.heading>p{
    font-size: 1.5rem;
    color: rgb(31, 29, 29);
    font-weight: 700;
}