.Navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding:0px 30px;
    align-items: center;
}
.Menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1.3rem;
}

.Menu>a{
    text-decoration: none;
    color: white;
}
.heading>p{
    color: white;
    font-size: 1.5rem;
}